<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>mistertfy64 NotRealMoney</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link href="./css/dashboard.css" rel="stylesheet">
  <link href="./css/global.css" rel="stylesheet">
</head>

<body>
  <%- include("../partials/header.ejs")%>
  <div id="stats-container">
    <div>
      <div class="stat-container text--right-align" id="balance-container">
        <h1>Balance</h1>
        <div>
          <span class="text--very-large">NRM¢&#xFE0E;</span><span class="text--very-colossal"><%=data.user.money%></span>
          <br>
          <span class="text--gem-color text--very-large">NRG♦&#xFE0E;</span><span class="text--gem-color text--very-colossal"><%=data.user.gems%></span>
        </div>
      </div>
      <hr>
      <div class="stat-container" id="transaction-container">
        <h1>Transactions</h1>
        <div id="transactions-container">
          <% if (!data.transactions || data.transactions.length===0){%>
          <%=`(No recent transactions to show.)` %>
          <%}else{%>
          <%-`<div class="transaction-header">`%>
          <%-`<div>From</div>`%>
          <%-`<div>Amount</div>`%>
          <%-`<div>When</div>`%>
          <%-`</div>`%>
          <% for (let transaction of data.transactions){%>
          <%- include("../partials/transaction.ejs",{data:transaction})%>
          <%}%>
              <%} %>
        </div>
      </div>
    </div>
  </div>
  <%- include("../partials/footer.ejs")%>
</body>

</html>