<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>mistertfy64 NotRealMoney</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link href="./css/dashboard.css" rel="stylesheet">
</head>

<body>
  <div id="content-container">
    <%-include("../partials/rank.ejs",{rank:data.membership})%> <%=data.username%>
    <div id="balance-container">
      <h1>Balance</h1>
      <hr>
      <div style="text-align:right;">
        <span class="s-large-text">NRM¢</span><span class="x-large-text"><%=data.money%></span>
      </div>
      <hr>
      <div style="display:flex;justify-content:space-between">
        <div style="text-align:right;color:#ffd700">
          <div class="large-text">Gold</div>
          <div class="s-large-text"><%=data.gold%></div>
        </div>
        <div style="text-align:right;color:#04f1f5">
          <div class="large-text">Diamonds</div>
          <div class="s-large-text"><%=data.diamonds%></div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>